/* @property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: cyan;
	--c2: #1d1d1d;
}

.box {
	border: 0.35rem solid;
    background: linear-gradient(0deg, #000, #272727);
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
} */

.box {
  box-shadow: 0 0 10px cyan;
  /* animation: pulse 2s linear infinite; */
  background: linear-gradient(0deg, #000, #272727);
}

/* @keyframes pulse {
  0% {
    box-shadow: 0 0 10px 2px cyan;
  }
  50% {
    box-shadow: 0 0 20px 8px cyan;
  }
  100% {
    box-shadow: 0 0 10px 2px cyan;
  }
} */