@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sections {
     @apply w-full h-[100vh] left-0
  }

  .formHeader {
    @apply text-white w-full text-center text-4xl mt-14
  }

  .formContainer {
    @apply w-full h-80 px-10 pt-8
  }

  .form {
    @apply flex flex-col justify-evenly h-full
  }

  #link:hover {
    @apply underline
  }

  .goBack {
    @apply absolute top-40 w-[25rem] text-xl text-white
  }

  .logInButton {
    @apply w-[20rem] h-[3rem] rounded-lg border-[1px] border-[cyan] bg-[#2d2d2d] overflow-hidden relative flex justify-center items-center
  }

  .buttonText {
    @apply absolute top-14 left-0 w-full h-full 
  }

  .button {
    @apply rounded-3xl w-[15rem] h-[5rem] text-2xl font-medium shadow-lg flex justify-center items-center
  }

  .blobContent {
    @apply absolute top-[45%] left-[42%] text-white opacity-50 text-2xl
  }

  .userButton {
    @apply w-[7rem] h-[2.5rem] rounded-lg shadow-xl
  }

  .userButton:hover, #doc:hover {
    @apply brightness-95
  }

  .userButton:active {
    @apply scale-95
  }

  .editUser {
    @apply bg-[#F6F7F9]
  }

  .editUser:focus {
    outline: none;
  }

  .editorBox {
    @apply w-[65%] ml-16 flex justify-between
  }

  #editButton:active {
    @apply scale-90
  }
}


html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: black;
}

.lastSection {
  width: 100%;
  height: 150vh;
  left: 0;
  background: rgb(45,45,45);
  background: linear-gradient(360deg, rgba(45,45,45,1) 43%, rgba(52,52,52,1) 49%, rgba(61,61,61,1) 54%);
}

.input {
  background-color: #2d2d2d;
  border-radius: .5rem;
  height: 3rem;
  width: 100%;
  border: 1px solid cyan;
  padding-left: 10px;
  color: white;
}

.inputButton {
  background: rgb(0,255,255);
  background: linear-gradient(90deg, rgba(0,255,255,1) 30%, rgba(45,167,167,1) 75%);
  width: 100%;
  height: 3rem;
  border-radius: .5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.button {
  background: rgb(0,255,255);
  background: linear-gradient(90deg, rgba(0,255,255,1) 30%, rgba(45,167,167,1) 75%);
}

.buttonImage {
  transition: all .5s;
}

.buttonText {
  transition: all .5s;
  /* opacity: 1;
  visibility: hidden; */
}

.logInButton:hover .buttonImage {
  transform: translateY(-3rem);
}

.logInButton:hover .buttonText {
  top: .75rem;
}